<div class="grid shadow-2 mr-0">
  <div class="col-12">
    <div class="heading surface-300">
      <div class="grid">
        <div class="col-3 mt-3">
          <h3 class="text-center -translate-y-50 ">Current Tickets Status</h3>
        </div>
        <div class="col-6 mt-2">
          <div class="flex justify-content-between">
            <h1 class="text-primary">609<sub class="text-sm">Open</sub></h1>
            <h1 class="text-red-500">571<sub class="text-sm">Overdue</sub></h1>
            <h1 class="text-500"> 5<sub class="text-sm">Unassigned</sub></h1>
          </div>
        </div>
        <div class="col-3 mt-3">

           <div class="flex justify-content-around "> 
            
           <div>
            <form [formGroup]="form">
              <p-dropdown formControlName="city" (onChange)="mainGraphFilter()" [(ngModel)]="selectedDate" [options]="dates" optionLabel="name"></p-dropdown>
            </form>
           </div>
            <p class="pi pi-ellipsis-h"></p>
           </div>
       </div>
    </div>
  </div>
  <div class="col-12">
      <div class="p-2">
        <div class="card barchart">
          <p-chart class="p-chart-data" type="line" [data]="data" [options]="options"></p-chart>
        </div>
      </div>
  </div>
  <div class="col-12">
    <div class="grid p-2">
      <div class="col-4 ">
        <div class="shadow-2 p-4">
          <div class="flex justify-content-between">
          <div>
            <h2 class="mb-2">{{newTickets}}</h2>
            <h3>New Tickets(total)</h3>
          </div>
          <div >
            <span class="flex justify-content-end mb-2 text-green-500">
              <i class="pi pi-check-circle"></i>
            </span>
            <div>
              
            </div>
          </div>
        </div>
        
        </div>
      </div>
      <div class="col-4 ">
       <div class="shadow-2 p-4">
        <div class="flex justify-content-between">
          <div>
            <h2 class="mb-2">{{closedTickets}}</h2>
            <h3>Closed Tickets(total)</h3>
          </div>
          <div >
            <span class="flex justify-content-end mb-2 text-blue-500">
              <i class="pi pi-check-circle"></i>
            </span>
            
          </div>
        </div>
       </div>
       </div>
       <div class="col-4 ">
       <div class="shadow-2 p-4">
        <div class="flex justify-content-between">
          <div>
            <h2 class="mb-2">{{backlogTickets}}</h2>
            <h3>Backlog(average)</h3>
          </div>
          <div >
            <span class="flex justify-content-end mb-2 text-blue-500">
              <i class="pi pi-check-circle"></i>
            </span>
          </div>
        </div>
       </div>
       </div>
    </div>
  </div>
</div>
</div>
<div class="grid mt-1 m-0">
  <div class="col-4 shadow-2 d-chart">
    <h3 class="p-2">Traffic Analysis</h3>
     <p-chart  class="doughnut-data" type="doughnut" [data]="data1" [options]="options1"></p-chart>
  </div>
  <div class="col-4 shadow-2">
    <h3 class="p-2">Average Tickets Reply Time</h3>
  <div class="main-data">
    <div class="t-data">
      <div class="ticket-data">
        <h4 class="mt-2">First Response Time</h4>
        <h6>21:06</h6>
      </div>
      <p-progressBar [value]="50"></p-progressBar>
    </div>
    <div class="t-data">
      <div class="ticket-data">
        <h4 class="mt-2">Response Time</h4>
        <h6>21:06</h6>
      </div>
      <p-progressBar [value]="50"></p-progressBar>
    </div>
    <div class="t-data">
      <div class="ticket-data">
        <h4 class="mt-2">Resolution Time</h4>
        <h6>21:06</h6>
      </div>
      <p-progressBar [value]="50"></p-progressBar>
    </div>
  </div>
  </div>
  <div class="col-4 shadow-2">
    <div class="t-data">
      <div class="ratings">
        <h3 class="p-2 mb-1">Happyness Rating</h3>
        <h5 class="rating"> 128 Ratings</h5>
      </div>
        <p-progressBar [value]="50" class="progress-data"></p-progressBar>

        <p-progressBar [value]="50" class="progress-dat"></p-progressBar>

        <p-progressBar [value]="50" class="progress-dAt"></p-progressBar>

      </div>
      <div style="justify-content: center;">
        <h5>Happy</h5>
        <h5>Satisfied</h5>
        <h5>Not satisfied</h5>
      </div>
  </div>
</div>
<div class="grid m-0">
  <div class="col-8">
    <div class="shadow-2 p-2">
      <div class="card barchart">
        <h6 class="ticket-time border-bottom-1">Incoming and Outgoing Bandwidth</h6>
        <p-chart class="p-chart-data" type="line" [data]="data2" [options]="options2"></p-chart>
    </div>
    </div>  
  </div>
  <div class="col-4">
    <div class="grid">
      <div class="col-12">
        <div class="shadow-2 p-2">
          <div>                            
            <h6 class="ticket-time border-bottom-1">Live Traffic</h6>
          </div>
        <div class="flex justify-content-around p-1">
         <div >
          <h6 class="ticket-time text-green-500">76%</h6>
          <h4>Incoming</h4>
         </div>
         <div>
          <apx-chart
          [series]="chartOptions.series"
          [chart]="chartOptions.chart"
          [plotOptions]="chartOptions.plotOptions"
          [labels]="chartOptions.labels"
          [fill]="chartOptions.fill"
        ></apx-chart>
         </div>
        </div>
        <div class="flex justify-content-around m-0">
          <div>
            <h6 class="ticket-time text-red-500">70%</h6>
            <h4>Outgoing</h4>
          </div>
          <div class="apx-chart">
              <apx-chart
              [series]="chartOptions2.series"
              [chart]="chartOptions2.chart"
              [plotOptions]="chartOptions2.plotOptions"
              [labels]="chartOptions2.labels"
              [fill]="chartOptions2.fill"
            ></apx-chart>
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>





<!-- 








      </div>
      <div style="justify-content: center;">
        <h5>Happy</h5>
        <h5>Satisfied</h5>
        <h5>Not satisfied</h5>
      </div>
  </div>
</div>
<div class="grid m-0">
  <div class="col-8">
    <div class="shadow-2 p-2">
      <div class="card barchart">
        <h6 class="ticket-time border-bottom-1">Incoming and Outgoing Bandwidth</h6>
        <p-chart class="p-chart-data" type="line" [data]="data2" [options]="options2"></p-chart>
    </div>
    </div>  
  </div>
  <div class="col-4">
    <div class="grid">
      <div class="col-12">
        <div class="shadow-2 p-2">
          <div>                            
            <h6 class="ticket-time border-bottom-1">Live Traffic</h6>
          </div>
        <div class="flex justify-content-around p-1">
         <div >
          <h6 class="ticket-time text-green-500">76%</h6>
          <h4>Incoming</h4>
         </div>
         <div>
          <apx-chart
          [series]="chartOptions.series"
          [chart]="chartOptions.chart"
          [plotOptions]="chartOptions.plotOptions"
          [labels]="chartOptions.labels"
          [fill]="chartOptions.fill"
        ></apx-chart>
         </div>
        </div>
        <div class="flex justify-content-around m-0">
          <div>
            <h6 class="ticket-time text-red-500">70%</h6>
            <h4>Outgoing</h4>
          </div>
          <div class="apx-chart">
              <apx-chart
              [series]="chartOptions2.series"
              [chart]="chartOptions2.chart"
              [plotOptions]="chartOptions2.plotOptions"
              [labels]="chartOptions2.labels"
              [fill]="chartOptions2.fill"
            ></apx-chart>
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>
</div> -->