
.heading{
    width: 100%;
    height: auto;
}
.ticket-data{
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
}
.ticket-time{
    font-size: 20px;
    padding: 20px;
    font-weight: bold;
}
.main-data{
    padding: 10px
}
.main-wrapper{
    display: flex;
   justify-content: center;
}
.incoming-outgoing-sec{
    width: 100%;
    height: 200px;
    background-color: red;
}
