/* You can add global styles to this file, and also import other style files */
@import "/node_modules/primeflex/primeflex.css";
@import "primeicons/primeicons.css";

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.barchart .p-chart-data canvas{
    height: 300px;
}
.d-chart .doughnut-data canvas{
    width: 320px;
    height: 280px !important;
}
.p-progressbar {
    position: relative;
    overflow: hidden;
    height: 9px;
}
.p-progressbar-determinate .p-progressbar-label{
  font-size: 0px;
}

.barchart .p-element canvas{
    height: 370px;
}
.p-progressbar {
    position: relative;
    overflow: hidden;
    height: 9px;
}
.p-progressbar-determinate .p-progressbar-label{
  font-size: 0px;
}

.progress-data .p-progressbar{
    

    transform: rotate(-90deg);
    width: 265px;
    margin: 0px;
    /* margin: auto; */
    margin-top: 138px;
}

.progress-data .p-progressbar{
    margin-left: 02px;
 
    margin-top: 100px;

    
}
.progress-dat .p-progressbar{
    

    transform: rotate(-90deg);
    width: 265px;
    margin: 0px;
    
    margin-top: 138px;
}
.progress-dat .p-progressbar{
    
  
    margin-left: 102px;
 
    margin-top: -23px;

}
.progress-dAt .p-progressbar{
    transform: rotate(-90deg);
    width: 265px;
    margin: 0px;
    margin-top: 38px;
}

.progress-dAt .p-progressbar{
    margin-left: 204px;
    margin-top: -23px;
}
.progress-dAt .p-progressbar .p-progressbar-value{
    background-color: red;
}
.progress-dat .p-progressbar .p-progressbar-value{
    background-color: green;
}
.progress-dat .p-progressbar .p-progressbar-value{
    background-color: orange;
}